.flex-col{
  display: flex;
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center; 
}


/* # GAP */

.gap-4{ gap: 4px }
.gap-8{ gap: 8px }
.gap-16{ gap: 16px }

/* # SIZE */

.w-100{ width: 100% }
.h-100{ height: 100% }